.mapa-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.mapa {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* POPUP */

.popup-card {
  width: 280px;
  padding: 6px;
}

.popup-top {
  display: flex;
  gap: 14px;
  align-items: center;
}

.popup-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #16a34a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.popup-card h3 {
  font-size: 18px;
  color: #0f172a;
  margin-bottom: 6px;
}

.popup-badge {
  display: inline-flex;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.popup-badge.acessivel {
  background: #dcfce7;
  color: #166534;
}

.popup-badge.parcial {
  background: #fef3c7;
  color: #92400e;
}

.popup-badge.nao {
  background: #fee2e2;
  color: #991b1b;
}

.popup-endereco {
  margin-top: 16px;
  color: #475569;
  font-size: 14px;
}

.popup-recursos {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.popup-recursos span {
  font-size: 13px;
  color: #334155;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  padding: 8px 12px;
  border-radius: 999px;
}

/* ZOOM */

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12) !important;
  border-radius: 18px !important;
  overflow: hidden;
  margin-bottom: 110px !important;
  margin-right: 22px !important;
}

.leaflet-control-zoom a {
  width: 52px !important;
  height: 52px !important;
  line-height: 52px !important;
  font-size: 22px !important;
  background: white !important;
  color: #0f172a !important;
  border: none !important;
}

/* POPUP */

.leaflet-popup-content-wrapper {
  border-radius: 24px;
  padding: 10px;
}

.leaflet-popup-tip {
  background: white;
}

/* LEGENDA INFERIOR */

.bottom-legenda {
  position: absolute;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
  z-index: 999;

  background: white;
  border-radius: 24px;

  display: flex;
  gap: 30px;

  padding: 18px 30px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.legenda-mini {
  display: flex;
  align-items: center;
  gap: 12px;

  font-weight: 600;
  color: #0f172a;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.verde {
  background: #22c55e;
}

.amarelo {
  background: #facc15;
}

.vermelho {
  background: #ef4444;
}